{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-4 p-4">

        {% if oiseaux is defined %}
            {#
            COUNTS
            #}
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="radius5white bottom10">
                    <b>Actuellement disponible</b>
                    <br>
                    {{ oiseaux.countOrdres }} ordres,
                    {{ oiseaux.countFamilles }} familles,
                    {{ oiseaux.countOiseaux }} oiseaux
                </div>
                </div>
            </div>
            {#
            DETAILS
            #}
            <div class="row">
                <div class="col-xs-12">
                <table id="" class="table table-bordered">
                    <thead>
                    <tr class="table-info">
                        <th class="hidden-xs">Ordre</th>
                        <th class="hidden-xs">Famille</th>
                        <th>Nom commun</th>
                        <th>Nom latin</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set trNomOrdre = '' %}
                        {% set trNomFamille = '' %}
                        {% for nomOrdre, ordre in oiseaux.listeOiseaux.ordre %}
                            {% for nomFamille, famille in ordre %}
                                {% for oiseau in famille %}
                                    <tr class="table-warning">
                                        <td class="hidden-xs">
                                            {{ trNomOrdre == nomOrdre ? ' ' : nomOrdre }}
                                        </td>
                                        <td class="hidden-xs">
                                            {{ trNomFamille == nomFamille ? ' ' : nomFamille }}
                                        </td>
                                        <td>
                                            {#
                                            NOM
                                            #}
                                            <a href="{{ path('oiseau', {nom:oiseau.nom}) }}">{{ oiseau.nom }}</a>

                                            <div class="visible-xs">
                                                <span class="text-muted small">{{ nomOrdre }}</span>
                                            </div>
                                        </td>
                                        <td>{{ oiseau.espece }}</td>
                                    </tr>
                                    {% set trNomFamille = nomFamille %}
                                    {% set trNomOrdre = nomOrdre %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('js/birds.js') }}"></script>
{% endblock %}
