{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-4 p-4">

    {% if ordresEtFamilles is defined %}
        {#
        COUNTS
        #}
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="radius5white bottom10">
                    <b>Actuellement disponible</b>
                    <br>
                    {{ countOrdres }} ordres,
                    {{ countFamilles }} familles,
                    {{ countOiseaux }} oiseaux
                </div>
            </div>
        </div>
        {#
        DETAILS
        #}
        <div class="row">
            <div class="col-xs-12">
                <table id="" class="table table-bordered">
                    <thead>
                    <tr class="table-info">
                        <th class="hidden-xs">
                            Ordre
                            <br>
                            <span class="text-muted">Famille</span>
                        </th>
                        <th>
                            Nom commun
                            <br>
                            <span class="text-muted">Nom latin</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set trStringOrdre = '' %}
                    {% set trStringFamille = '' %}
                    {% for stringOrdre, ordre in ordresEtFamilles %}
                        {% for stringFamille, famille in ordre.familles %}
                            {% for stringOiseau, oiseau in famille.oiseaux %}
                                <tr class="table-warning">
                                    <td class="hidden-xs">
                                        <b>{{ trStringOrdre == stringOrdre ? ' ' : (ordre.nom | capitalize) }}</b>
                                        <br>
                                        <span class="text-muted">{{ trStringFamille == stringFamille ? ' ' : (famille.nom | capitalize) }}</span>
                                    </td>
                                    <td>
                                        {#
                                        NOM
                                        #}
                                        <a href="{{ path('oiseau', {string:stringOiseau}) }}">{{ oiseau.nom }}</a>
                                        <br>
                                        <span class="text-muted small">{{ oiseau.espece }}</span>
                                    </td>
                                </tr>
                                {% set trStringFamille = stringFamille %}
                                {% set trStringOrdre = stringOrdre %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type='text/javascript' src="{{ asset('build/js/apprendre.js') }}"></script>
    {% endblock %}
