{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-4 p-4">

    {% if oiseaux is defined %}
        {#
        COUNTS
        #}
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="radius5white bottom10">
                    <b>Actuellement disponible</b>
                    <br>
                    {{ oiseaux.countOrdres }} ordres,
                    {{ oiseaux.countFamilles }} familles,
                    {{ oiseaux.countOiseaux }} oiseaux
                </div>
            </div>
        </div>
        {#
        DETAILS
        #}
        <div class="row">
            <div class="col-xs-12">
                <table id="" class="table table-bordered">
                    <thead>
                    <tr class="table-info">
                        <th class="hidden-xs">
                            Ordre
                            <br>
                            <span class="text-muted">Famille</span>
                        </th>
                        <th>
                            Nom commun
                            <br>
                            <span class="text-muted">Nom latin</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set trNomOrdre = '' %}
                    {% set trNomFamille = '' %}
                    {% for nomOrdre, ordre in oiseaux.listeOiseaux.ordre %}
                        {% for nomFamille, famille in ordre %}
                            {% for oiseau in famille %}
                                <tr class="table-warning">
                                    <td class="hidden-xs">
                                        <b>{{ trNomOrdre == nomOrdre ? ' ' : (nomOrdre | capitalize) }}</b>
                                        <br>
                                        <span class="text-muted">{{ trNomFamille == nomFamille ? ' ' : (nomFamille | capitalize) }}</span>
                                    </td>
                                    <td>
                                        {#
                                        NOM
                                        #}
                                        <a href="{{ path('oiseau', {string:oiseau.string}) }}">{{ oiseau.nom }}</a>
                                        <span class="text-muted small">{{ oiseau.espece }}</span>
                                    </td>
                                </tr>
                                {% set trNomFamille = nomFamille %}
                                {% set trNomOrdre = nomOrdre %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type='text/javascript' src="{{ asset('build/js/apprendre.js') }}"></script>
    {% endblock %}
