{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid mt-1 p-3">

        <h5 class="text-muted">Fiche Oiseau</h5>
        {#
        SI ON A BIEN UN OISEAU
        #}
        {% if oiseau is not empty %}
            <h1>{{ oiseau.nom }}</h1>
            <p class="radius5white bottom-100">{{ oiseau.commentaire | nl2br }}</p>

            <div class="row">
                {% if images is not empty %}
                    {% for i, image in images %}

                        <div class="col-xs-12 col-sm-6">
                            <div class="radius5white bottom10">
                                <img id="img"
                                     class="img-fluid responsive"
                                     alt="{{ oiseau.nom }}"
                                     title="{{ oiseau.nom }}"
                                     src="{{ image }}">
                                <br>
                                {{ commentairesImages[i] is defined ? commentairesImages[i] : '' }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-xs-12 col-sm-6">
                        <div class="alert alert-warning">
                            <b>Pas d'images pour cet oiseau</b>
                            <br>
                            <i>Mince alors !</i>
                        </div>
                    </div>
                {% endif %}
            </div>

        {% else %}
            <div class="radius5white">
                Il manque des infos pour le numéro <span class="text-danger">{{ string }}</span>
            </div>
        {% endif %}
        <div class="row top10">
            <div class="col-xs-12">
                <i class="small">random :: </i><a href="{{ path('oiseau', {string:nextString}) }}">{{ nextNom }}</a>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('build/js/birds.js') }}"></script>
{% endblock %}
